<%= form_for(:filter, :remote => true, :html => {:class => "form-horizontal", :method => "get"}) do |f| %>
<legend>Filters</legend>
  <div class="control-group">
    <%= f.label 'Status', :class => 'control-label', :for => 'filter_status' %>
    <div class="controls">
      <%= f.select :status, options_for_select(Member.all.where(:admin_uuid => session[:user_uuid]).distinct(:status), params[:filter].present? ? params[:filter][:status] : ''), :include_blank => 'All Members', :onchange => "status_select(this.value)" %>
    </div>
    <%= f.label 'Errors', :class => 'control-label', :for => 'filter_errors' %>
    <div class="controls">
      <%= f.text_field :errors, :placeholder => "Filter By Errors...", :value => params[:filter].present? ? params[:filter][:errors] : '' %>
    </div>
    <%= f.label 'Member ID', :class => 'control-label', :for => 'filter_member_id' %>
    <div class="controls">
      <%= f.text_field :member_id, :placeholder => "Filter By Member ID...", :value => params[:filter].present? ? params[:filter][:member_id] : '' %>
    </div>
    <%= f.label 'First Name', :class => 'control-label', :for => 'filter_first_name' %>
    <div class="controls">
      <%= f.text_field :first_name, :placeholder => "Filter By First Name...", :value => params[:filter].present? ? params[:filter][:first_name] : '' %>
    </div>
    <%= f.label 'Last Name', :class => 'control-label', :for => 'filter_last_name' %>
    <div class="controls">
      <%= f.text_field :last_name, :placeholder => "Filter By Last Name...", :value => params[:filter].present? ? params[:filter][:last_name] : '' %>
    </div>
    <%= f.label 'Email', :class => 'control-label', :for => 'filter_email' %>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "Filter By Email...", :value => params[:filter].present? ? params[:filter][:email] : '' %>
    </div>
    <%= f.label 'Roles', :class => 'control-label', :for => 'filter_roles' %>
    <div class="controls">
      <%= f.text_field :roles, :placeholder => "Filter By Roles...", :value => params[:filter].present? ? params[:filter][:roles] : '' %>
    </div>
    <%= f.label 'Group Name', :class => 'control-label', :for => 'filter_group_name' %>
    <div class="controls">
      <%= f.text_field :group_name, :placeholder => "Filter By Group Name...", :value => params[:filter].present? ? params[:filter][:group_name] : '' %>
    </div>
    <%= f.label 'Include Sub Groups', :class => 'control-label', :for => 'filter_subgroups' %>
    <div class="controls">
      <%= f.check_box :subgroups, :checked => ((params[:filter].present? && params[:filter][:subgroups] == 1) ? true : false) %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Search', :class => 'btn' %>
      <%= f.submit 'Reset Filters', :class => 'btn' %>
    </div>
  </div>
<% end %>