<% roles = Array.new -%>
<% flags = Array.new -%>
<% member.roles.each do |role, flag| -%>
<% roles << role -%>
<% flags << flag -%>
<% end -%>
<% if (member.err && !member.err.empty?) %>
    <tr class="error">
<% elsif member.status.include? 'Error' %>
    <tr class="warning">
<% elsif member.status == 'User added to group.' %>
    <tr class="success">
<% else %>
    <tr>
<% end %>
<% @admin.webform_fields.each do |key, value| -%>
  <td><%= member.data_fields[key] unless member.data_fields[key].nil? %></td>
<% end -%>
<td><%= member.email %></td>
<td><%= member.first_name %></td>
<td><%= member.last_name %></td>
<td><%= member.birthday %></td>
<td><%= member.parent_email %></td>
<td><%= member.uuid %></td>
<td><%= member.group_name %></td>
<td><%= member.group_uuid %></td>
<td><%= roles.join(', ') %></td>
<td><%= flags.join(', ') %></td>
<td><%= member.submission_id %></td>
<td><%= member.status %></td>
<td><%= member.err %></td>
<td><%= link_to 'Import', 'members/' + member.id + '/export', :remote => true %></td>
<td><%= link_to 'Assign', 'members/' + member.id + '/assign', :remote => true %></td>
<td><%= link_to 'Delete', member, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>
